.restaurant-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  /* position: absolute; */
  width: 245px;
  height: 232.8px;
  margin-left: 20px;
  top: 20px;
}

.restaurant-image {
  /* Small */
  width: 245px;
  height: 151.8px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 10px;

  width: 245px;
  height: 81px;

  background: #f9f4ea;

  /* Inside auto layout */
  flex: none;
  order: 12;
  align-self: stretch;
  flex-grow: 0;
}

.card-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 16px;
  padding-left: 16px;
  gap: 8px;

  width: 104px;
  height: 49px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.restaurant-name {
  width: 54px;
  height: 21px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 2.67px;

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0;
}
.restaurant-manger {
  width: 104px;
  height: 20px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  letter-spacing: 1.82px;

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0;
}
