.hero-container {
  width: 375px;
  /* 564.83 */
  height: 273px;
  left: -140px;
  top: 46px;
  background-image: url("../assets/hero-img-mobile.png");
  background-repeat: no-repeat;
}

.hero-content {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 18px;

  position: absolute;
  width: 335px;
  height: 144px;
  left: 20px;
  top: 111px;
  padding-left: 10px;

  background: rgba(255, 255, 255, 0.88);
}

.hero-title {
  width: 315px;
  height: 64px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 133%;
  /* or 32px */
  letter-spacing: 1.9px;

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Restaurants */

.restaurants-container {
}

.restaurants-title {
  width: 326px;
  height: 24px;
  margin: 48px 0 17px 20px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */
  letter-spacing: 1.21px;
  text-transform: uppercase;

  color: #000000;
}

.slide-row-restaurants {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  /* position: absolute; */
  width: 354px;
  height: 232.8px;
  left: 20px;
  top: 408px;
  overflow-x: scroll;
}

.all-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 12px;

  /* position: absolute; */
  width: 172px;
  height: 35px;
  margin-left: 20px;
  margin-top: 18px;
}

.all-link-dishes {
  margin-bottom: 48px;
}

.link-title {
  width: 136px;
  height: 35px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  /* identical to box height, or 219% */
  text-align: right;
  letter-spacing: 1.85px;
  text-transform: capitalize;

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.go-icon {
  /* position: absolute; */
  left: 0%;
  right: 0%;
  top: 12.5%;
  bottom: 12.5%;
}

/* Dishes */

.dishes-container {
}

.dishes-title {
  width: 190px;
  height: 35px;
  margin: 48px 0 17px 20px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 35px;
  /* identical to box height, or 194% */
  letter-spacing: 1.2px;
  text-transform: uppercase;

  color: #000000;
}

.slide-row-dishes {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  /* position: absolute; */
  width: 354px;
  height: 388px;
  margin-left: 20px;
  top: 785px;
  overflow-x: scroll;
}

/* ingredients */

.ingredients-title {
  /* position: absolute; */
  width: 190px;
  height: 35px;
  left: 96px;
  /* top: 1294px; */
  margin: 0;
  margin-top: 24px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 35px;
  /* identical to box height, or 194% */
  letter-spacing: 1.2px;
  text-transform: uppercase;

  color: #000000;
}

.ingredient-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
  padding: 0px;
  gap: 32px;

  width: 136px;
  height: 102.98px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.ingredients-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 32px;

  width: 375px;
  height: 584px;

  background: #fafafa;
}


.spicy-icon {
  width: 46.42px;
  height: 35.98px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.vegetarian-icon,
.vegan-icon {
  width: 56px;
  height: 56px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.ingredient-title {
  width: 136px;
  height: 35px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  text-align: center;
  letter-spacing: 1.97px;

  color: #000000;
  margin: 0;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.last-ingredient {
  margin-bottom: 24px;
}
.first-ingredient {
  margin-top: 0;
}
/* Chefs */

.chef-container {
}

/* About Us */

.about-container {
}
