* {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.hero-container {
  width: 375px;
  /* 564.83 */
  height: 273px;
  left: -140px;
  top: 46px;
  background-image: url("../assets/hero-img-mobile.png");
  background-repeat: no-repeat;
}

.hero-content {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 18px;
  width: 335px;
  height: 144px;
  margin-left: 20px;
  padding-left: 10px;
  transform: translateY(111px);
  background: rgba(255, 255, 255, 0.88);
}

.hero-title {
  width: 315px;
  height: 64px;

  font-size: 24px;
  line-height: 133%;
  /* or 32px */
  letter-spacing: 1.9px;

  color: #000000;
  padding-top: 16px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Restaurants */

.restaurants-container {
}

.restaurants-title {
  width: 326px;
  height: 24px;
  margin: 48px 0 17px 20px;

  line-height: 24px;
  /* identical to box height, or 133% */
  letter-spacing: 1.21px;
  text-transform: uppercase;

  color: #000000;
}

.slide-row-restaurants {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 354px;
  height: 232.8px;

  overflow: hidden;
}

.all-link-restaurants {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 12px;

  width: 172px;
  height: 35px;
  margin-left: 20px;
  margin-top: 18px;
}

.link-title-restaurants {
  width: 136px;
  height: 35px;

  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  /* identical to box height, or 219% */
  text-align: right;
  letter-spacing: 1.85px;
  text-transform: capitalize;

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.all-link-dishes {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 12px;

  width: 126px;
  height: 35px;
  margin: 18px 0 48px 20px;
}

.link-title-dishes {
  width: 136px;
  height: 35px;

  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  /* identical to box height, or 219% */
  text-align: right;
  letter-spacing: 1.85px;
  text-transform: capitalize;

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.go-icon {
  left: 0%;
  right: 0%;
  top: 12.5%;
  bottom: 12.5%;
}

/* Dishes */

.dishes-container {
}

.dishes-title {
  width: 190px;
  height: 35px;
  margin: 48px 0 17px 20px;

  line-height: 35px;
  /* identical to box height, or 194% */
  letter-spacing: 1.2px;
  text-transform: uppercase;

  color: #000000;
}

.slide-row-dishes {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 354px;
  height: 388px;
  margin-left: 20px;

  overflow: hidden;
}

/* ingredients */

.ingredients-title {
  width: 190px;
  height: 35px;

  margin: 24px 0 0 0;

  line-height: 35px;
  /* identical to box height, or 194% */
  letter-spacing: 1.2px;
  text-transform: uppercase;

  color: #000000;
}

.ingredient-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
  padding: 0px;
  gap: 32px;

  width: 136px;
  height: 102.98px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.ingredients-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 32px;

  width: 375px;
  height: 584px;

  background: #fafafa;
}

.spicy-icon {
  width: 46.42px;
  height: 35.98px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.vegetarian-icon,
.vegan-icon {
  width: 56px;
  height: 56px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.ingredient-title {
  width: 136px;
  height: 35px;

  line-height: 30px;
  /* or 167% */
  text-align: center;
  letter-spacing: 1.97px;

  color: #000000;
  margin: 0;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.last-ingredient {
  margin-bottom: 24px;
}
.first-ingredient {
  margin-top: 0;
}

/* Chefs */

.chef-container {
  padding-top: 16px;
  padding-bottom: 48px;
}

.chef-title {
  width: 186px;
  height: 35px;
  margin: 32px 0 16px 20px;

  line-height: 35px;
  /* identical to box height, or 194% */
  letter-spacing: 1.2px;
  text-transform: uppercase;

  color: #000000;
}

.chef-description {
  width: 335px;
  height: 252px;

  margin: 24px 0 0 20px;
  line-height: 28px;
  /* or 156% */
  text-align: justify;
  letter-spacing: 1.25px;

  color: #000000;
}

/* About Us */

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 375px;
  height: 867px;
  left: -1px;
  background: #fafafa;
}

.epicure-logo {
  width: 102px;
  height: 95px;

  margin-bottom: 32px;
  margin-left: 20px;
}

.download-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 180px;
  height: 120px;
  margin-bottom: 48px;
  margin-left: 20px;
}

.frame {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px 12px;
  gap: 7px;

  width: 180px;
  height: 52px;

  border: 0.5px solid #000000;
  border-radius: 10px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  width: 130px;
  height: 38px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.first {
  width: 130px;
  height: 18px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */
  text-align: center;
  letter-spacing: 1.29px;

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.second {
  width: 130px;
  height: 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  text-align: center;
  letter-spacing: 1.29px;

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.about-title {
  width: 101px;
  height: 35px;

  line-height: 35px;
  /* identical to box height, or 194% */
  letter-spacing: 1.18px;
  text-transform: uppercase;

  color: #000000;
  margin: 20px 0 16px 20px;
}

.first-paragraph {
  width: 331px;
  height: 280px;

  line-height: 28px;
  /* or 156% */
  letter-spacing: 2.14px;

  color: #000000;

  margin: 0 0 1px 20px;
}

.second-paragraph {
  width: 306px;
  height: 168px;

  line-height: 28px;
  /* or 156% */
  letter-spacing: 2.14px;

  color: #000000;
  margin: 0 0 0 20px;
}
