/* ------ Hamburger style ------ */
.hamburger-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 0 0 0;
  gap: 24px;

  position: absolute;
  width: 375px;
  height: 367px;
  left: -1px;
  top: 46px;
  z-index: 1;
  background: #ffffff;
  box-shadow: 2px 4px 10px rgba(175, 175, 175, 0.25);
}

.hamburger-link {
  text-decoration: none;
  width: 108px;
  height: 22px;

  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  letter-spacing: 1.92px;

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  padding-left: 20px;
}

.space-line {
  width: 375px;
  height: 0px;
  left: -1px;
  top: 194px;

  border: 1px solid #f2f2f2;
}
