.navbar {
  width: 375px;
  height: 46px;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0);
  display: flex;
  justify-content: space-between;
}

.sticky {
  position: fixed;
  top: 0;
}

.navbar-hamburger {
  height: 16px;
  margin-left: 24px;
  padding-top: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
}

.hamburger-line {
  width: 14px;
  height: 0px;
  left: 4px;
  top: 4px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.9);
}

.hamburger-middle-line {
  margin-top: 8px;
  margin-bottom: 8px;
}

.navbar-logo {
  width: 32.93px;
  height: 32px;
  margin-left: 100px;
  padding-top: 7px;
}

.navbar-search-icon,
.navbar-user-icon,
.navbar-cart-icon {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  padding-top: 13px;
  cursor: pointer;
}

.navbar-cart-icon {
  margin-right: 14px;
}

.close-navbar {
  position: absolute;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  width: 375px;
  height: 46px;
  left: -1px;
  top: 0px;
  z-index: 1;
  background: #ffffff;
}

.close-icon {
  width: 15px;
  height: 15px;
  margin-left: 24px;
  padding-top: 15px;
  cursor: pointer;
}

.close-navbar-title {
  width: 63px;
  height: 22px;

  font-size: 18px;
  line-height: 22px;

  letter-spacing: 1.92px;

  text-align: center;

  color: #000000;
}

.search-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 0 0 30px;
  gap: 24px;

  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  width: 347px;
  height: 327px;
  left: -1px;
  top: 46px;

  background: #ffffff;
  box-shadow: 2px 4px 10px rgba(175, 175, 175, 0.25);
}
