/* ------ Search style ------ */
/* .search-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 12px 24px 20px;
  gap: 24px;

  position: absolute;
  width: 377px;
  height: 367px;
  left: -1px;
  top: 46px;

  background: #ffffff;
  box-shadow: 2px 4px 10px rgba(175, 175, 175, 0.25);
} */



.search-filed {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;

  position: absolute;
  width: 315px;
  height: 30px;
  /* left: 30px; */

  border: 0.5px solid #000000;
  border-radius: 4px;
  
}

.search-icon-input {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  padding-top: 5px;
}

.input-line {
  height: 14px;
  border: 0.5px solid #000000;
}

.search-input {
  width: 241px;
  height: 15px;

  border: none;
  background-color: transparent;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 200;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1.29px;

  color: #000000;
  /* opacity: 1; */
  flex: none;
  order: 2;
  flex-grow: 1;
  margin-right: 12px;

  padding: 0;
}

/* .search-input:focus {
  opacity: 0.2;
}

.search-input:active {
  opacity: 1;
} */




